/*!
Eson Date input control style
first create by 'UANV,ESONCalendar and so on'
modify by anlige @ www.thinkasp.cn
last modify at 2015-10-26
*/
.inline-block {display:inline-block;zoom:1;*display:inline; }
.calendar-group {border: 1px solid #ddd;background-color:#fefefe;font:normal 14px /120% 'Consolas','Courier New','Microsoft YaHei'; border-radius:3px; box-shadow:0 0 3px 0px #ddd}
.calendar-group .calendar-close {text-align: right; padding-right: 12px; padding-bottom: 3px; cursor: pointer;}
.calendar-group .calendar-main {display:inline-block;zoom:1;*display:inline; border: 0px; padding: 3px 3px 0 3px;; box-shadow:0 0 0 0 #fff}
.calendar-main{font:normal 2px /10% 'Consolas','Courier New','Microsoft YaHei'; padding: 3px;}

.calendar-main ul,.calendar-main li {list-style:none;margin:0;padding:0;box-sizing:content-box;}
.calendar-body li {display:inline-block;width:30px; cursor:pointer; text-align:center; line-height:24px;margin: 0;zoom:1;*display:inline; }
.calendar-body li.weeks{font-weight:normal;border-bottom:1px #ddd solid;padding: 0; margin-bottom: 3px; font-weight:bold; color:#333 }
.calendar-body li.weeks.checked { font-weight:bold;color: #2CB4BF;}
.calendar-body li div{margin: 2px; border-radius:3px;cursor:pointer;}
.calendar-body li div i {font-style: normal;}
.calendar-body li.sunday div {color:red}
.calendar-body li.disabled div {cursor:normal; color:#aaa}
.calendar-body li.current div {background-color:#f2fcfd;color:#2CB4BF;  }
.calendar-body li.selected div {background-color:#2CB4BF;color:#fff;  }
.calendar-body li.cal-end {display: block; width:0;height:0;overflow: hidden; position: relative;line-height:auto; margin: 0; padding: 0;}

.calendar-header{text-align:center;padding:0;overflow:hidden;}
.calendar-header .select-box{margin: 0; color:#aaa; }
.calendar-header .select-box li { margin:0 2px; height:24px; line-height:24px; cursor: pointer; display: inline-block;zoom:1;*display:inline; vertical-align: middle;}
.calendar-header .select-box li:hover {color:#666}
.calendar-header .select-box li.area-left,.calendar-header .select-box li.area-right {margin-left: 0; width: 0;height: 0;border-top: 5px dashed transparent;border-bottom: 5px dashed transparent;overflow: hidden; font-size: 0; line-height:0}
.calendar-header .select-box li.area-left{ border-right: 5px solid #aaa;}
.calendar-header .select-box li.area-right{border-left: 5px solid #aaa;}
.calendar-header .select-box li.area-month,.calendar-header .select-box li.area-month-left { margin-left:20px}
.calendar-header .select-box li.area-middle,.calendar-header .select-box li.area-middle-month { margin-right:4px}
.calendar-header .select-box li.area-current { float: left; margin-left: 8px;}
.calendar-header .select-box li.area-middle-month {width:18px}

.calendar-quick {position: absolute; width:100%; background-color: #fafafa; margin-left: -3px; display: none; vertical-align: top; padding-bottom: 3px; text-align: center;}
.calendar-quick-time {padding-top: 3px;padding-bottom: 0px;}
.calendar-quick .calendar-quick-contents { width:96%; margin: auto; background-color: #fafafa; border: 1px solid #ddd; box-shadow:0 0 3px 0 #ddd; padding: 3px 0; text-align: left;-width:100%;-margin-left:2px;}
.calendar-quick .calendar-quick-contents a {display: inline-block; width:20%; text-align: center; margin: 2px auto; cursor: pointer;}
.calendar-quick .calendar-quick-contents a.hover {color: red;}
.calendar-quick .calendar-quick-contents div a{width:16.666%;}
.calendar-quick-minorsec .calendar-quick-contents div a {width:9.9%}
.calendar-quick-minorsec .calendar-quick-contents div a.odd {width:10%}

.calendar-arraw{ margin-left: 20px;display: none;position: absolute; left:0}
.calendar-arraw div {position: absolute;width:0;height:0; border-left:5px dashed transparent;border-right:5px dashed transparent; overflow: hidden; font-size: 0; line-height:0; }
.calendar-arraw-up div.a {border-bottom:5px solid #fafafa; margin-top: -4px; }
.calendar-arraw-up div.b { border-bottom:5px solid #ddd; margin-top: -5px;}
.calendar-arraw-down div.a { border-top:5px solid #fafafa; margin-top: -1px;}
.calendar-arraw-down div.b  { border-top:5px solid #ddd; margin-top: 0px; }
.calendar-main .calendar-arraw-up{ margin-top: -3px;}
.calendar-main .calendar-arraw-down{ margin-top: 3px;}
.calendar-quick .calendar-arraw-up { margin-top: 0;}
.calendar-quick .calendar-arraw-down { margin-top: 0; }


.calendar-time {margin: 0 auto 2px; cursor: pointer;  padding-top: 6px;}
.calendar-time div { display: inline-block;zoom:1;*display:inline; height:18px; line-height:18px; padding: 0 8px; }